<nav class="sticky top-0 z-40 flex items-center justify-between w-full p-4 pr-6 bg-black">
  <div class="relative z-50 flex-none">
    <a href="/">
      <img src="/assets/images/logo-no-background.png" class="max-w-xs max-h-10 md:max-h-10 lg:max-h-12"
        alt="main image" />
    </a>
  </div>
  <div class="relative z-50 flex cursor-pointer lg:hidden" onclick="openMobileNavigation()">
    <svg xmlns="http://www.w3.org/2000/svg" class="items-end justify-end w-8 h-8" viewBox="0 0 448 512" fill="white">
      <path
        d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" />
    </svg>
    <div id="mobile-nav"
      class="fixed inset-0 w-full h-full p-6 text-3xl text-white transition-all duration-300 transform -translate-x-full bg-black font-josefin z-[9999]">
      <div class="flex flex-col h-full">
        <div class="flex justify-end">
          <button class="w-10 h-10 p-0 m-0 text-2xl font-bold text-white transition-colors hover:text-green-500"
            onclick="closeMobileNavigation(event)">✕</button>
        </div>
        <nav class="flex flex-col mt-8 space-y-6">
          {% for item in site.data.navigation %}
          <div {% if page.url==item.link %} class="font-bold" {% endif %}>
            <a href="{{ item.link }}" class="block w-full py-2 transition-colors nav-link hover:text-green-500">
              {{ item.name }}
            </a>
          </div>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
  </div>
  <div class="justify-between hidden w-4/6 text-xs text-white lg:flex xl:w-3/6 font-josefin md:text-xl lg:text-xl">
    {% for item in site.data.navigation %}
    <div {% if page.url==item.link %} class="font-bold" {% endif %}>
      <a href="{{ item.link }}" class="nav-link">
        {{ item.name }}
      </a>
    </div>
    {% endfor %}
    <div class="hidden md:block lg:block">
      <a href="mailto:info@profoundcollective.com" class="text-white bg-green-600 btn btn-primary hover:bg-green-700">
        Start Now
      </a>
    </div>
  </div>
</nav>

<script>

  window.addEventListener('hashchange', function () {
    highlightActiveHashRoute();
  });

  function highlightActiveHashRoute() {
    var links = document.getElementsByClassName('nav-link');
    for (var i = 0; i < links.length; i++) {
      if (links[i].hash == window.location.hash && window.location.hash !== '') {
        links[i].classList.add('font-bold');
      } else if (links[i].hash === '' && window.location.pathname === '/blog.html') {
        links[i].classList.add('font-bold');
      } else {
        links[i].classList.remove('font-bold');
      }
    }
  };

  highlightActiveHashRoute();

  function openMobileNavigation(e) {
    var mobileNav = document.getElementById('mobile-nav');
    document.body.style.overflow = 'hidden';
    mobileNav.style.display = 'block';
    requestAnimationFrame(() => {
      mobileNav.classList.add('translate-x-0');
      mobileNav.classList.remove('-translate-x-full');
    });
  }

  function closeMobileNavigation(e) {
    e.stopPropagation();
    var mobileNav = document.getElementById('mobile-nav');
    document.body.style.overflow = '';
    mobileNav.classList.remove('translate-x-0');
    mobileNav.classList.add('-translate-x-full');
    setTimeout(() => {
      if (mobileNav.classList.contains('-translate-x-full')) {
        mobileNav.style.display = 'none';
      }
    }, 300);
  }
</script>