<nav class="p-4 pr-6 flex justify-between items-center bg-black w-full sticky top-0">
  <div class="flex-none">
    <a href="#">
      <img src="/assets/images/logo-no-background.png" class="max-h-6 md:max-h-8 lg:max-h-12 max-w-xs"
        alt="main image" />
    </a>
  </div>
  <div class="w-2/3 md:w-2/3 lg:w-1/3 text-xs text-white font-josefin flex justify-between md:text-xl lg:text-xl">
    {% for item in site.data.navigation %}
    <div {% if page.url==item.link %} class="font-bold" {% endif %}>      
      <a href="{{ item.link }}" class="hover:text-slate-300 hover:border-b-2 cursor-pointer">
        {{ item.name }}
      </a>
    </div>
    {% endfor %}
  </div>
</nav>