---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.post {
    @apply font-josefin font-light text-gray-200;
}

.post h1 {
    @apply text-4xl font-bold mt-8 mb-4 text-white;
}

.post h2 {
    @apply text-3xl font-bold mt-8 mb-4 text-white;
}

.post h3 {
    @apply text-2xl font-bold mt-6 mb-3 text-white;
}

.post h4 {
    @apply text-xl font-bold mt-6 mb-3 text-white;
}

.post h5 {
    @apply text-lg font-bold mt-4 mb-2 text-white;
}

.post h6 {
    @apply font-bold mt-4 mb-2 text-white;
}

.post p {
    @apply mb-4 leading-relaxed;
}

.post ul {
    @apply list-disc pl-6 mb-4 text-gray-200;
}

.post ol {
    @apply list-decimal pl-6 mb-4 text-gray-200;
}

.post li {
    @apply mb-2;
}

.post a {
    @apply text-green-500 hover:text-green-400 transition-colors duration-200;
}

.post blockquote {
    @apply pl-4 border-l-4 border-green-500 italic my-6 text-gray-300;
}

.post code {
    @apply bg-gray-900 px-1 rounded border border-green-900;
}

.post pre {
    @apply bg-gray-900 p-4 rounded-lg overflow-x-auto mb-6 border border-green-900;
}

.post hr {
    @apply border-green-900 my-8;
}

.post-image {
    @apply flex flex-col justify-center items-center m-8;
    @apply text-lg italic;
}

.post blockquote {
    @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800;
    @apply text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white;
}