<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="utf-8">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://profoundcollective.com/" />
  <meta property="og:site_name" content="Profound Collective" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://www.profoundcollective.com/assets/images/profound.png" />
  <meta property="og:title" content="Get the Right Things Done" />
  <meta name="description" content="Custom Software & Organizational Development." />

  <title>{{ page.title }} - {{ site.title }}</title>
  <!-- Font optimization -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Preload critical fonts -->
  <link rel="preload" as="font" href="https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKSbpUVz0Eg.woff2" type="font/woff2" crossorigin="anonymous">
  
  <!-- Load fonts with swap -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preload" as="font" href="https://fonts.gstatic.com/s/josefinsans/v32/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKSbpUVz0Eg.woff2" crossorigin>
  <link rel="preload" as="font" href="https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2" crossorigin>
  
  <!-- Load all fonts with display swap -->
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700;900&family=Roboto:wght@400;500;700;900&family=Rowdies&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789./?!@%&"
    rel="stylesheet">
  <!-- googlefonts -->

  <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">

  {% feed_meta %}
  {% seo %}
</head>

<body>
  {% include navigation.html %}
  {{ content }}
</body>

</html>